head
  meta(charset='utf8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(name='HandheldFriendly', content='True')
  meta(name='robots', content='no-index, no-follow, noarchive')
  meta(name='referrer', content='no-referrer')
  meta(http-equiv='x-dns-prefetch-control', content='on')
  meta(http-equiv='Cache-Control', content='no-store')
  meta(http-equiv='pragma', content='no-store')
  meta(http-equiv='Expires', content='-1')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title=title || 'traveldglobe Login'
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js")
  //- script(src='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js')
  //- link(href='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css', rel='stylesheet')
  link(href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js")
  script(type='text/javascript', src="https://vitalets.github.io/checklist-model/checklist-model.js")
  script(type='text/javascript' src="https://code.angularjs.org/1.6.0/angular-route.min.js")
  script(type='text/javascript', src="#{DOMAIN_URL}/javascripts/module/angular-upload.min.js")
  link(rel='stylesheet', href='#{DOMAIN_URL}/stylesheets/site.min.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='#{DOMAIN_URL}/javascripts/site.min.js')
  link(rel="stylesheet", href="#{DOMAIN_URL}/stylesheets/toast.css")
  script(src="#{DOMAIN_URL}/javascripts/toast.js")
  link(rel="stylesheet", href="#{DOMAIN_URL}/stylesheets/loader.css")
  script(src="#{DOMAIN_URL}/javascripts/loader.js")
  
  script(src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js")
  script.
    history.pushState(null, "", location.href.split("?")[0]);
    tempSid = "{#sid}";
  block css
  block headJs

