extends layout

block content
  .tdg-container.text-center
    a(href='/', style='margin-top:20px;display:inline-block;')
      img(src="#{DOMAIN_URL}/images/traveldglobe-red.png" alt="travel d'globe")
    h1.error-code 404

    if(result)
      h3 #{result.message}
    

