extends layout

block content
  .tdg-container.text-center
    a.home-icon(href='/', style='margin-top:20px;display:inline-block;')
      img(src="#{DOMAIN_URL}/images/traveldglobe-red.png" alt="travel d'globe")
    h1.error-code 500
    div OOPS! Something is wrong. We are looking into it. 
    