//- a.btn.btn-info(href="#/new-product" ng-click="function = 'Add'") Add new
button.btn.btn-info(data-toggle="modal" data-target="#addNewProduct" ng-click="function = 'Add'") New Tour
button.btn.btn-info.margin-left-5px(ng-click="showTdgProducts()") Show Readymade Tour
div(ng-hide="showTdgProductsContainer")
  h5 Tour published on your website.
  .row
    .col-sm-6.col-md-3(ng-repeat= "product in products")
      .thumbnail(style="height:360px")
        img.same-image-size(ng-src='{{product.image_url}}')
        .caption.text-center
          h3 {{product.name}}
          div
            a.btn.btn-warning(role='button' data-toggle="modal" data-target="#addNewProduct" ng-click="editProduct(product)") Edit
            //- a.btn.btn-default(role='button' data-toggle="modal" data-target="#deleteProduct" ng-click="getProductSlug(product.slug, $event)") Delete

//- Container to show TDG Products list
div(ng-show="showTdgProductsContainer")
  h5 Build your website with curated itineraries and readymade tours.
  .row
    .col-sm-6.col-md-3(ng-repeat= "tdgProduct in tdgProducts")
      label  
        .thumbnail(style="height:475px")
        
          input(type="checkbox", name="", checklist-model="checkList.products", checklist-value="tdgProduct")
          img.same-image-size(ng-src='{{tdgProduct.image_url}}')
          .caption
            h3.text-center {{tdgProduct.name}}
            small.row
              .col-sm-7
                | B2B Price :
              .col-sm-5(ng-init="tdgProduct.cost_price = tdgProduct.offer_price")
                span.badge.badge-danger  &#8377;{{tdgProduct.cost_price}}
              div.col-sm-7
                label Your Selling Price (After Markup) : 
              span.col-sm-5(ng-init="tdgProduct.markup_price = tenPercentMarkupPrice(tdgProduct.cost_price)") &#8377;
                input(type="text", ng-model="tdgProduct.markup_price" size="4")
              .col-md-7
                | Your Earning : 
              .col-md-5
                span.badge.badge-success &#8377;{{tdgProduct.markup_price - tdgProduct.cost_price}}
              .col-sm-12(style="font-size:80%") *Per person price for {{tdgProduct.travellers}} travellers
                
  .fixed-bottom-footer
    span.pull-left.badge.badge-info default markup is 10%. You can edit it.
    button.btn.btn-success(ng-click="addTdgProductToSite()") Add
    button.btn.btn-danger.margin-left-5px(ng-click="showTdgProductsContainer=false") Cancel



// Modal new product
#addNewProduct.modal.fade(role='dialog' style="")
  .modal-dialog.newProductModal
    // Modal content
    form(name="productForm")
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal' ng-click="resetFields()") ×
          //- h4.modal-title {{function}} Product
        .modal-body(style="height:75vh;overflow-y:auto;overflow-x:hidden")
          .row
            .col-xs-6.col-md-4
              label Tour Name
                span.text-danger *
              input.form-control(type='text', placeholder='Prashar Lake Trek', ng-model="newProduct.name"  ng-required="true")
            .col-xs-6.col-md-4
              label Tour Start Location
                span.text-danger *
              input.form-control(type='text', placeholder='Mandi', ng-model="newProduct.location"  ng-required="true")
            .col-xs-6.col-md-4
              label Duration
                span.text-danger *
              input.form-control(type='text', placeholder='2 Days/1 Night', ng-model="newProduct.duration"  ng-required="true")
          
            .col-xs-6.col-md-4
              label Base Price(Maximum/Strike Value)
                span.text-danger *
              input.form-control(type='text', placeholder='3500', ng-model="newProduct.base_price" ng-required="true" )
            .col-xs-6.col-md-4
              label Offer Price(Minimum Value)
                span.text-danger *
              input.form-control(type='text', placeholder='2500', ng-model="newProduct.offer_price"  ng-required="true")
            .col-xs-6.col-md-4
              label Advance Payment
              input.form-control(type='text', placeholder='1200', ng-model="newProduct.advance") 
          
            
            .col-xs-6.col-md-4
              label Minimum Numbers of Travellers
                span.text-danger *
              input.form-control(type='text', placeholder='4', ng-model="newProduct.travellers"  ng-required="true")
            //.col-xs-6.col-md-4
              label Presence
              select.form-control(ng-model="newProduct.presence" disabled)
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
            .col-xs-6.col-md-4
              label Pickup Location
              input.form-control(type='text', placeholder='Mandi Bus Stand', ng-model="newProduct.pickup" )   
          .row
            .col-xs-12.col-md-6
                label Things for Packing
                textarea.form-control(type='text', placeholder='Shirt, T-Shirt, Food...', rows="3", ng-model="newProduct.packs")
                
                label Details(Package Inclusion)
                  span.text-danger *
                textarea.form-control(placeholder='Breakfast, Camp, Dinner', rows="3", ng-model="newProduct.details" ng-required="true")
                label Description of Tour (maximum100 words)
                  span.text-danger *
                textarea.form-control(placeholder='Tour Description', rows="3", ng-model="newProduct.desc" ng-required="true")
            //- .row
            .col-xs-12.col-md-6
              label Itinerary
                span.text-danger *
              //- #summernote(placeholder='Tour Itinerary', rows="3", ng-model="newProduct.itinerary" ng-required="true")
              #summernote
            
          .row
            //- .col-xs-12.col-md-6
              
            
            //- .row
            //- .col-xs-12.col-md-6
              
            .col-xs-6.col-md-2
              label Primary Image
                span.text-danger *
                br
                span.btn(ng-hide="newProduct.image || newProduct.image_url") Choose
                //- fileread is a custom directive to read image data
                input.form-control(name="primaryImage" type="file", fileread="newProduct.image", accept="image/jpg,image/jpeg", style="display:none;")
                img.img-responsive.img-thumbnail.img-height-50px(ng-src="{{newProduct.image || newProduct.image_url}}" ng-show="newProduct.image || newProduct.image_url")
                
            .col-xs-6.col-md-4
              .pull-right
                .col-xs-3.col-md-12
                  .btn-group
                    button.btn.btn-default(type='button' ng-click="addMore()")
                      i.fa.fa-plus
                    button.btn.btn-default(type='button' ng-click="removeOne()")
                      i.fa.fa-minus
              .row(ng-repeat="md in media")
                .col-xs-6.col-md-4
                  label Other Image
                    br
                    span.btn(ng-hide="md.image") Choose
                    //- fileread is a custom directive to read image data
                    input.form-control(name="carouselImage", type="file", fileread="md.image", accept="image/*", style="display:none;")
                    img.img-responsive.img-thumbnail.img-height-50px(ng-src="{{md.image || newProduct.images[$index].image_url}}" ng-show="md.image")
                    
                .col-xs-6.col-md-4
                  label Caption 
                    input.form-control(type="text", name="caption", ng-model="md.caption" value="{{newProduct.images[$index].caption}}" )
        .modal-footer
          span.pull-left.text-danger fileds with * are mandatory.
          button.btn.btn-success(ng-click="productForm.$valid && this[function]()" type="submit") {{function}}
          button.btn.btn-default(type='button', data-dismiss='modal' ng-click="resetFields()") Close

// Modal delete product
#deleteProduct.modal.fade(role='dialog')
  .modal-dialog
    // Modal content
    .modal-content
      .alert.alert-warning.alert-dismissable
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4 Warning!
        p Are you sure to delete this product?
        p
          a.btn.btn-warning(role='button' ng-click="deleteProduct()") Yes
          a.btn.btn-link(role='button', data-dismiss='modal') No
        

