button.btn.btn-info(data-toggle="modal" data-target="#addNewPage" ng-click="function = 'Publish'") New page

div()
  .row
    .col-sm-12
      h4 All Pages
      table.table.table-hover
        thead
          tr
            th #
            th Title
            th Content
            th Last Modify
            th 
            
        tbody
          tr(ng-repeat= "page in pagesInfo")
            td {{$index+1}}
            td {{page.title}}
            td.truncate-container.fade-truncate {{page.content}}
            td {{page.updated_at}}
            td 
              button.btn.btn-default(ng-click="editPage(page)" data-toggle="modal" data-target="#addNewPage") edit

// Modal new product
#addNewPage.modal.fade(role='dialog' style="")
  .modal-dialog.newProductModal
    // Modal content
    form(name="pageForm")
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal' ng-click="resetFields()") ×
        .modal-body(style="height:75vh;overflow-y:auto;overflow-x:hidden")
          .row
            .col-xs-12.col-md-12
              .form-group
                label.col-md-2.control-label Page Title
                  span.text-danger *
                .col-md-4
                  input#title.form-control(type='text', ng-required='true', placeholder='Page title', name='title', ng-model="newPage.title")
            .col-xs-12.col-md-12
              .form-group
                label.col-md-2.control-label(for='pageContent') Page Content
                  span.text-danger *
                .col-md-10
                  //- textarea#pageContent.form-control(ng-required='true', placeholder='Start writing here', ng-model="newPage.content", rows='15', cols='30', name='page_content')
                  #summernote

        .modal-footer
          span.pull-left.text-danger fileds with * are mandatory.
          button.btn.btn-success(ng-click="pageForm.$valid && this[function]()" type="submit") {{function}}
          button.btn.btn-default(type='button', data-dismiss='modal' ng-click="resetFields()") Close
