


button.btn.btn-info(data-toggle="modal" data-target="#addNewBlog" ng-click="function = 'Publish'") Add new

div()
  .row
    .col-sm-12
      h4 All Blogs
      table.table.table-hover
        thead
          tr
            th #
            th Title
            th Content
            th 
            
        tbody
          tr(ng-repeat= "blog in blogsInfo")
            td {{$index+1}}
            td
              a(href="{{blog.blog_url}}" target="_blank" title="open blog") {{blog.title}}
            td.truncate-container.fade-truncate {{blog.content}}
            
            td 
              button.btn.btn-default(ng-click="editBlog(blog)" data-toggle="modal" data-target="#addNewBlog") edit

// Modal new product
#addNewBlog.modal.fade(role='dialog' style="")
  .modal-dialog.newProductModal
    // Modal content
    form(name="blogForm")
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
        .modal-body(style="height:75vh;overflow-y:auto;overflow-x:hidden")
          form.form-horizontal
            label.col-md-2 Title
              span.text-danger *
            .col-md-10
              input.form-control(type='text', ng-required='true', placeholder='Title', name='title' ng-model="blog.title")
          
            label.col-md-2 Write new blog
              span.text-danger *
            .col-md-10
              #summernote
          
            label.col-md-2 Tags
              span.text-danger *
              div
                small (separated by comma(,))
            .col-md-4
              input.form-control(type='text', ng-required='true', placeholder='Manali, Tour', name='title' ng-model="blog.post_tag")
            
            label.col-md-2 Category
              span.text-danger *
              div
                small (separated by comma(,))
            .col-md-4
              input.form-control(type='text', ng-required='true', placeholder='Tour, Tourism', name='title' ng-model="blog.category")

                  

            
        .modal-footer
          span.pull-left.text-danger fileds with * are mandatory.
          button.btn.btn-success(ng-click="blogForm.$valid && this[function]()" type="submit") {{function}}
          button.btn.btn-default(type='button', data-dismiss='modal') Close

