.row
  .col-sm-6

    h4 Bookings
    table.table.table-hover
      thead
        tr
          th #
          th Name
          th Product
          th Mobile Number
          th Travellers
          th Total Price
          th Paid
      tbody
        tr(ng-repeat= "booking in bookingData")
          td {{$index+1}}
          td {{booking.name}}
          td {{booking.licensee_product.name}}
          td {{booking.mobile}}
          td {{booking.travellers}}
          td {{booking.total_price}}
          td {{booking.paid}}

  .col-sm-6
    h4 Queries
    table.table.table-hover
      thead
        tr
          th #
          th Page
          th Query
          th Mobile Number
      tbody
        tr(ng-repeat= "query in queryData")
          td {{$index+1}}
          td(title="{{query.query_url}}").truncate-container.fade-truncate
            a(href="{{query.query_url}}") {{query.query_url}}
          td {{query.comment}}
          td {{query.mobile}}
         

    