// Modal new product
#chooseImage.modal.fade(role='dialog')
  .modal-dialog.newProductModal
    // Modal content
    form(name="productForm")
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal' ng-click="resetFields()") ×
          //- h4.modal-title {{function}} Product
        .modal-body(style="height:75vh;overflow-y:auto;overflow-x:hidden")



        .modal-footer
          span.pull-left.text-danger fileds with * are mandatory.
          button.btn.btn-success(ng-click="productForm.$valid && this[function]()" type="submit") {{function}}
          button.btn.btn-default(type='button', data-dismiss='modal' ng-click="resetFields()") Close