extends layout

block css
    link(rel="stylesheet", href="#{DOMAIN_URL}/stylesheets/dashboard.css")

block content
  div(ng-controller="createLicenseeController")
    include ./profile_setting

block footJs
  script(src="#{DOMAIN_URL}/javascripts/createLicenseeController.js")