.container
  .row
    .col-sm-12
      div Convert currency
  .row
    .col-sm-9
      form(name="currencyForm")
        .col-sm-3
          label Select Currency
          select.form-control(ng-model="convert.currency" ng-required="true")
            option( disabled ng-selected="true" value) --Select currency-- 
            option(ng-repeat = "currency in currencies" value="{{currency}}") {{currency}}
        .col-sm-3
          label Amount
            input.form-control(type="number", ng-model="convert.value" ng-required="true")
        br
        button.btn.btn-success(ng-click="currencyForm.$valid && convertCurrency()") convert

  .row
    .col-sm-12
      #currency-container(ng-show="convertedCurrency") 
        h4 Converted currency : {{convertedCurrency.value}} {{convertedCurrency.currency}}