extends layout

block css
  link(rel="stylesheet", href="#{DOMAIN_URL}/stylesheets/dashboard.css")

block headJs

block content
  div(ng-controller="dashboardController")

    nav.navbar.navbar-custom(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(data-target='#bs-content-row-navbar-collapse-5', data-toggle='collapse', type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Partner Dashboard
        // Collect the nav links, forms, and other content for toggling
        #bs-content-row-navbar-collapse-5.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              button.btn.btn-link(ng-click="signout()") Logout
        // /.navbar-collapse
      // /.container-fluid
    // header
    .container-fluid
      // documents
      .row.row-offcanvas.row-offcanvas-left
        .col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
          ul.list-group.panel
            li.list-group-item
              i.glyphicon.glyphicon-align-justify
              b SIDE PANEL
            li.list-group-item
              a.active(href='#/home')
                i.glyphicon.glyphicon-home
                | Home
            li.list-group-item
              a(href='#/products')
                i.glyphicon.glyphicon-certificate
                | Products
            li.list-group-item
              a(href='#')
                i.glyphicon.glyphicon-th-list
                | Marketing
            li.list-group-item
              a(href='#')
                i.glyphicon.glyphicon-list-alt
                | Components
            li.list-group-item
              a(href='#/pages')
                i.glyphicon.glyphicon-file
                | Pages
            li.list-group-item
              a(href='#')
                i.glyphicon.glyphicon-calendar
                | Analytics (coming soon)
            li.list-group-item
              a(href='#/setting/profile')
                i.glyphicon.glyphicon-font
                | Company Details
            li.list-group-item
              a(href='#/blog')
                i.glyphicon.glyphicon-minus
                | Blog
            li.list-group-item
              a(href='#/currency-converter')
                i.glyphicon.glyphicon-usd
                | Currency Converter

        .col-xs-12.col-sm-9.content
          .panel.panel-default
            .panel-heading
              h3.panel-title
                a.toggle-sidebar(href='javascript:void(0);')
                  span.fa.fa-angle-double-left(data-toggle='offcanvas', title='Maximize Panel')
                |  {{message}}
            .panel-body#content
              .content-row(ng-view)

               
              
block footJs
  script(src="#{DOMAIN_URL}/javascripts/dashboard.js")
  script(src="#{DOMAIN_URL}/javascripts/pageController.js")
  script(src="#{DOMAIN_URL}/javascripts/productController.js")
  script(src="#{DOMAIN_URL}/javascripts/blogController.js")
  script(src="#{DOMAIN_URL}/javascripts/bookingController.js")
  script(src="#{DOMAIN_URL}/javascripts/profileController.js")
  script(src="#{DOMAIN_URL}/javascripts/currencyController.js")
  