extends layout

block css
  style.
    body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #303641;
    color: #C1C3C6;
    }

block headJs

block content
  .container
    form.form-signin(role='form', action="/dashboard")
      h3.form-signin-heading Please sign in
      .form-group
        .input-group
          .input-group-addon
            i.glyphicon.glyphicon-user
          input#username.form-control(type='text', name='username', placeholder='Username', autocomplete='off')
      .form-group
        .input-group
          .input-group-addon
            i.glyphicon.glyphicon-lock
          input#password.form-control(type='password', name='password', placeholder='Password', autocomplete='off')
      if wrongCredentials
        .alert.alert-danger
          button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
          strong Oh snap!
          |  Change a few things up and try submitting again.
      //- label.checkbox
      //-   input(type='checkbox', value='remember-me')
      //-   |  &nbsp; Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
  .clearfix
  br
  br


block footJs