.content-row
  .content-row-title Profile
  .row
    .col-md-4
      .col-md-7
        label.btn
          input(type="file" fileread="licenseeInfo.changeImage" accept="image/*" style="display:none")
          img.img-responsive(ng-src="{{licenseeInfo.changeImage || licenseeInfo.thumb_url}}" width="50" height="50")
          span Change Photo
    .col-md-4
      label Name
      input.form-control(type='text', placeholder='Your Name', ng-model="licenseeInfo.name")
    .col-md-4
      label Domain
      input.form-control(type='text',placeholder="mydomain.com", ng-disabled="disable.domain", ng-model="licenseeInfo.domain")
    .col-md-4
      label Mobile
      input.form-control(type='text', placeholder='9999999999', ng-model="licenseeInfo.mobile")
    .col-md-4
      label Email
      input.form-control(type='text', placeholder='email@domain.com', ng-model="licenseeInfo.email")  
    .col-md-4
      label Facebook Username
      input.form-control(type='text', placeholder='facebookUsername', ng-model="licenseeInfo.facebook")
    .col-md-4
      label Instagram
      input.form-control(type='text', placeholder='instagramUsername', ng-model="licenseeInfo.instagram")
    .col-md-4
      label License Number
      input.form-control(type='text', placeholder='XXX-XXX-XXX', ng-disabled="disable.licensee_number", ng-model="licenseeInfo.license_no")
  .row
    .col-md-4
      label Google Tag Mananger ID
      input.form-control(type='text', placeholder='UXX-XXXXX', ng-model="licenseeInfo.gtm_container_id")
    .col-md-4
      label Google Site Verification
      input.form-control(type='text', placeholder='ABCDEFGH...VWXYZ1234567890', ng-model="licenseeInfo.google_site_verification")
    .col-md-4
      label Established On
      input.form-control(type='date', placeholder='1 Jan, 1970', ng-model="licenseeInfo.established_on" value="{{licenseeInfo.established_on | date: 'yyyy-MM-dd'}}")
  .row
    .col-sm-4
      label Repuso Grid Number
      input.form-control(type="text", placeholder="XXXX" ng-model="licenseeInfo.repuso_grid_number")
    .col-sm-4
      label Repuso Wesite ID
      input.form-control(type="text", placeholder="X" ng-model="licenseeInfo.repuso_website_id")

  
  .row
    .col-md-6
      label Description
      textarea.form-control(placeholder='Description about company', rows="3", ng-model="licenseeInfo.desc")
    .col-md-6
      label Address
      textarea.form-control(placeholder="Office address", rows="3", ng-model="licenseeInfo.address")

  button.btn.btn-success(ng-click="saveProfile()") Save

  include ./choose_image