::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.same-image-size {
  
  width:  250px !important;
  height: 250px !important;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
.img-height-50px{
  height:50px
}

.cursor-pointer{
  cursor: pointer;
}
.margin-left-5px{
  margin-left: 5px;
}

.fixed-bottom-footer{
  position: fixed;
  bottom: 0;
  background: white;
  width: 76%;
  padding: 15px;
  text-align: right;

}
.truncate-container{
  width: 250px;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow: hidden;
  max-width:1px;
}
.fade-truncate {
  position: relative;
  height: 3.6em; /* exactly three lines */
}
.fade-truncate:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.thumbnail .caption {
  padding: 5px;
}

@media (min-width: 768px){
  .modal-dialog.newProductModal {
    width: 95% ;
    margin: 30px ;
  }
}